/* styles.css */
.NAV {
  position: fixed;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(10px);
}
#footerInfo{
  display: flex;
  flex-direction: row;
}
#packages {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  #packages {
    display: flex;
    flex-direction: column;
  }
  #footerInfo {
    display: flex;
    flex-direction: column; 
  }
}