/* styles.css */
.NAV {
  position: fixed;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(10px);
}
#footerInfo{
  display: flex;
  flex-direction: row;
}
#packages {
  display: flex;
  flex-direction: row;
}
#ABTCARDS{
  flex-direction: row;
  display: flex;
  gap: 20px;
}
#ButtonContainer{
  display: flex;
  flex-direction: row;
  gap: 28px;
  font-weight: 500
}

#MainBg{
  background-image: url(assets/CS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
#GlassmorphismBg{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(230, 230, 230), transparent);
}
#Menu{
  display: none;
}

@media (max-width: 768px) {
  #packages {
    display: flex;
    flex-direction: column;
  }
  #footerInfo {
    display: flex;
    flex-direction: column; 
  }
  #ABTCARDS{
    flex-direction: column;
  }
  #ButtonContainer{
    display: none;
  }
  #Menu{
    display: flex;
    font-size: 30px;
  }
}

