/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
#ABTHEADING{
  font-family: "Kanit", sans-serif;
}
#DESC{
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}
.Desc{
  font-family: "Kanit", sans-serif;

}
#NAVBAR{
  background-color: gold;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem /* 16px */;
  box-shadow: 0px 1px 0px 0px rgb(250, 250, 250);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 998;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#NAV2{
  background-color: gold;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem /* 16px */;
  box-shadow: 0px 1px 0px 0px rgb(250, 250, 250);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 998;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  position: fixed;
}

#sidebar{
  background-color: gold;
  position: fixed;
  top: 0;
  bottom: 1;
  left: 1;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 999;
  justify-content: center;  
  align-items: center;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#Quote{
  background-image: url(assets/quote.webp);
  background-size: contain;
  height: 60vh;
  background-repeat: no-repeat;
}
#ABTBG{
  background-image: url(assets/bg1.webp);
  background-size: cover;
  padding: 70px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}
#footerInfo{
  display: flex;
  flex-direction: row;
}
#packages {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.Steve{
  width: 100%;
}
#ABTCARDS{
  flex-direction: row;
  display: flex;
  gap: 20px;
}
#ButtonContainer{
  display: flex;
  flex-direction: row;
  gap: 28px;
  font-weight: 500
}

#MainBg{
  background-image: url(assets/CS.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
  background-color: rgb(255, 209, 122);
}
#GlassmorphismBg{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(230, 230, 230), transparent);
    height: 100%;
}
#Menu{
  display: none;
}

.Cards:hover{
  transform: translateY(-10px);
  transition: 0.6s;
  cursor: pointer;
}
.Cards{
  transition:0.5s;
}
#VideoContainer{
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content:space-around;
  align-items: center;
  gap: 50px;
}
.Player{
  width: 450px;
  height: 300px;
  border-radius: 10px;
}
.video-section{
  height: fit-content;

}
#HomeText{
  color: blue;
}
.PackageContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
}
@media (max-width: 768px) {
  #packages {
    display: flex;
    flex-direction: column;
  }
  .PackageContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .Player{
    width: 100%;
    height: 200px;
  }
  #VideoContainer{
    flex-direction: column;
  }
  #MainBg{
    height: fit-content;
  }
  #ABTBG{
    padding: 30px;
  }
  #Steve{
    width: 70%;
  }
  #footerInfo {
    display: flex;
    flex-direction: column; 
  }
  #ABTCARDS{
    flex-direction: column;
  }
  #ButtonContainer{
    display: none;
  }
  #Menu{
    display: flex;
    font-size: 30px;
  }
  #NAVBAR{
    width: 100%;
  }
  #HomeText{
    font-size: 35px;
  }
  #HText2{
    font-size: 20px;
  }
  #HomeBtns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .Btns{
    font-size: 12px;
    height: 50px;
    width: 130px;
  }
}
.Btns{
  background-color: orange;
  border-radius: 5px;
  padding: 1px;
  font-size: 15px;
  height: 50px;
  width: 150px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.3s;
}
.Btns:hover{
  background-color: rgb(255, 185, 54);
  transition: 0.3s;
}

